body{
    font: Arial, sans-serif;
}

.navbar{
    background-color: #199A08;
}
.quemSomos{
    background-color: #19CA08;
    color: white;
}
.margin{
    padding-top: 30px;
    padding-bottom: 30px;
}
.parceiros{
    color: white;
    background-color: #1908FA;
    align-items: center;
}
.img{
    padding: 10px;
}
.img_padrao{
    width: 100%;
}
.servicos{
    color: white;
    background-color: #F9A82A;
    align-items: center;
}
.bgFooter{
    background-color: grey;
